/* Add CSS Styling */

.class1 {
	background-color: hsl(351, 62%, 80%);
	font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#oneid {
	color: rgb(17, 17, 245);
	font-size: 36px;
}

.cooler {
	font-size: 24px;
}

#anotherid {
	background-color: rgb(151, 231, 31);
	font-size: 24px;
	font-weight: bold;
}
